<div class= "container justify-content-md-center">
  <h1 class="text-center mt-4">Create a new category</h1>
  <%= render 'form'%>
  <div class="mb-3 text-center">
    <%= link_to "Back to categories", categories_path, class: "text-black"%>
  </div>
</div>
